[SQL]
DIRDATWOR = \DEO\DATAWORK
DIRSOUBMS = \DEO\ORIGINAIS\BMS
DIRSOUPGM = \DEO\ORIGINAIS\PGM\TESTE
DIRSOULIB = \DEO\ORIGINAIS\CPY
DIRSOUDCL = \DEO\ORIGINAIS\DCLGEN
DIRCNVBMS = \DEO\CONVERTIDOS\BMS
DIRCNVLIB = \DEO\CONVERTIDOS\CPY
DIRCNVDCL = \DEO\CONVERTIDOS\DCLGEN
DIRCNVLIBWOR = \DEO\CONVERTIDOS\LIB_WORK
DIRCNVLOG = \DEO\CONVERTIDOS\LOG
DIRCNVPGM = \DEO\CONVERTIDOS\PGM
DIRCNVPGMREV = \DEO\PGM_REVISAR
DIRCNVSBR = \DEO\CONVERTIDOS\SBR
DIRCNVSQL = \DEO\CONVERTIDOS\SQL
REMARKS = SQLC
TRATAABEND = 1
ROTABEND = SULABEND
DELLINORI = 1
CRINUM = 1
USASPA = 0
PRICON = ASA
DESPRI = NETNAME
EXTSOU = COB
EXTBMS = BMS
EXTCPY = CPY
TIPDAT = EUR
APPNAM = SULA
CLIENTE = DEO
PREREG = RG-
SUFREG = -R
PREWRK = W
OWNERDB2 = NONE
